#displayboard{
  
    margin: 0 auto;
    background-color: skyblue;
    padding: 20px;
    border: 5px solid blue;
}
.box{
    width: 100px;
    height: 100px;
    float: left;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}